<div id='header'>
    <div id="user_header_box">
      <% if current_user %>
        <span class="user_welcome">Welcome <b><%= current_user.username %></b>!</span>
        <div class="mini_menu">
        <%= link_to "create sub", new_user_sub_url(current_user) %> |
        <%= link_to "logout", session_url, method: :delete %>
      <% else %>
        Not currently logged in
        <% if !current_page?(new_session_url) %>
          <%= link_to "log in", new_session_url %>
          <%= link_to "sign up", new_user_url %>
        <% end %>
      <% end %>
    </div>
  </div>

  <center>
    <h1>Fake Reddit</h1>
    <h3><i>"not even close"</i></h3>
  </center>
</div>
